# # -*- systemd -*-
# - uses virtualenv python version
# cd /home/pi/projects/shairport-sync-mqtt-display/python-flask-socketio-server/etc
# sudo cp shairport-sync_web.service  /lib/systemd/system/shairport-sync_web@.service
# sudo chmod 644 /lib/systemd/system/shairport-sync_web@.service
# sudo systemctl daemon-reload
# sudo systemctl enable shairport-sync_web@pi.service
# sudo systemctl status shairport-sync_web@pi.service
# sudo systemctl start  shairport-sync_web@pi.service
# journalctl -u shairport-sync_web@pi.service

[Unit]
Description=Shairport-sync MQTT Remote Control and Metadata Webserver
Documentation=https://github.com/idcrook/shairport-sync-mqtt-display
After=network.target network-online.target
# After=network.target time-sync.target
ConditionPathExists=/home/pi/projects/shairport-sync-mqtt-display/python-flask-socketio-server/etc

[Service]
Type=simple
WorkingDirectory=/home/pi/projects/shairport-sync-mqtt-display/python-flask-socketio-server
ExecStart=/home/pi/projects/shairport-sync-mqtt-display/python-flask-socketio-server/venv/bin/python \
          /home/pi/projects/shairport-sync-mqtt-display/python-flask-socketio-server/app.py
User=pi

[Install]
WantedBy=default.target
