/* adapted from https://github.com/idubnori/shairport-sync-trackinfo-reader/blob/develop/examples/WebViewer/wwwroot/StyleSheet.css */

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    display: inline-block;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.8), 2px 5px 10px 5px rgba(0, 0, 0, 0.4) ;
}

.player{
  margin: 10px 0;
}

#trackinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#coverart {
    height: 256px;
    margin: 15px 0;

}

#artist {
    font-weight: 500;
}

#album {
    color: gray;
    line-height: 0.9;
}

#track {
    color: crimson;
    font-weight: 700;
}

#genre {
    color: gray;
}

#updateinfo {
    /* color: lightgray; */
    color: #D3D3D3A0;
    line-height: 1.4;
}

/* TODO: To use it in JS, window.matchMedia('(prefers-color-scheme: dark)')
const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
*/

/* "Dark mode" media query overrides */
@media (prefers-color-scheme: dark) {
  body {
      background-color: #2F2F2F;
  }
  #artist {
      color: crimson;
      font-weight: 600;
  }
  #album {
      color: crimson;
  }
  #track {
      color: lavender;
  }
  #genre {
      color: rebeccapurple;
  }
  #updateinfo {
      /* color: steelblue; */
      color: #4682B480; /* make translucent */
  }
  .shadow {
      display: inline-block;
      box-shadow: 0px -5px 10px -2px rgba(0, 0, 255, 0.27), 0px -5px 10px -2px rgba(255, 0, 0, 0.21), 0px -5px 10px -2px rgba(0, 255, 0, 0.26),
                  0px  5px 10px -2px rgba(0, 0, 255, 0.27), 0px  5px 10px -2px rgba(255, 0, 0, 0.21), 0px  5px 10px -2px rgba(0, 255, 0, 0.26) ;
  }
}
