/* adapted from https://github.com/idubnori/shairport-sync-trackinfo-reader/blob/develop/examples/WebViewer/wwwroot/StyleSheet.css */

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    display: inline-block;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.8);
}



.player{
  margin: 10px 0;
}


#trackinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#coverart {
    height: 256px;
}

#artist {
    font-weight: 400;
}

#album {
    color: gray;
    line-height: 0.9;
}

#track {
    font-weight: 700;
}

#genre {
    color: gray;
}

#updateinfo {
    color: lightgray;
    line-height: 1.4;
}

/* TODO: To use it in JS, window.matchMedia('(prefers-color-scheme: dark)')
const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
*/

/* "Dark mode" media query overrides */
@media (prefers-color-scheme: dark) {
  body {
      background-color: #2F2F2F;
  }

  #artist {
      color: mediumslateblue;
      font-weight: 600;
  }

  #album {
      color: slateblue;
  }

  #track {
      color: lavender;
  }

  #genre {
      color: rebeccapurple;
  }

  #updateinfo {
      color: steelblue;
  }

  .shadow {
      display: inline-block;
      /* purplish drop shadow on album art */
      box-shadow: 0 5px 10px -2px rgba(0, 0, 255, 0.3),  0 5px 10px -2px rgba(255, 0, 0, 0.3);
  }


}
