<!DOCTYPE html>
<head lang="en">
  {% block head %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name = "viewport" content = "viewport-fit = cover, width = device-width, height = device-width, initial-scale = 1.0, user-scalable = yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="format-detection" content="telephone=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <title>Now Playing{% block title %}{% endblock %}</title>

  <!-- Fallback example code via https://stackoverflow.com/a/26198380/47850 -->
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />

  <!-- Bootstrap CSS local fallback -->
  <script>
   var test = document.createElement("div")
   test.className = "hidden d-none"

   document.head.appendChild(test)
   var cssLoaded = window.getComputedStyle(test).display === "none"
   document.head.removeChild(test)

   if (!cssLoaded) {
     var link = document.createElement("link");

     link.type = "text/css";
     link.rel = "stylesheet";
     link.href = "css/bootstrap.min.css";

     document.head.appendChild(link);
   }
  </script>
  <!-- Bootstrap theme CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha256-8uHMIn1ru0GS5KO+zf7Zccf8Uw12IA5DrdEcmMuWLFM=" crossorigin="anonymous" />
  <!-- bootstrap-slider CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" integrity="sha256-G3IAYJYIQvZgPksNQDbjvxd/Ca1SfCDFwu2s2lt0oGo=" crossorigin="anonymous" />

  <!-- App CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- jQuery CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <!-- jQuery local fallback -->
  <script>window.jQuery || document.write("<script src=\"{{ url_for('static', filename='js/jquery.min.js') }}\"><\/script>")</script>

  <!-- mousetrap local -->
  <script src="{{ url_for('static', filename='js/mousetrap.min.js') }}"></script>

  <!-- Bootstrap JS CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script>
  <!-- Bootstrap JS local fallback -->
  <script>if(typeof($.fn.modal) === 'undefined') {document.write("<script src=\"{{ url_for('static', filename='js/bootstrap.min.js') }}\"><\/script>")}</script>

  <!-- bootstrap-slider JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js" integrity="sha256-oj52qvIP5c7N6lZZoh9z3OYacAIOjsROAcZBHUaJMyw=" crossorigin="anonymous"></script>
  
  <!-- socket.io v4 JS FIXME: add local fallback? -->
  <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>

  {% endblock %}
</head>

<body>
  <div id="content">{% block content %}{% endblock %}</div>

</body>
</html>
